<section class="list">
    {% paginate collection.products by 4 %}
            {% for product in collection.products %}      
                {% render 'product-item', product:product %}
            {% endfor %}
        {{ paginate |  default_pagination }}    
    {% endpaginate %}
    </section>