<h1>{{ collection.title }}</h1>

{% for collection in collections %}
    <div>
        <a href="{{ collection.url }}">
            <h2>{{ collection.title }}</h2>
            <p>products: {{ collection.all_products_count }}</p>
        </a>
    </div>
{% endfor %}